<form action="/recipes" method="post">
  <h1>Create New Recipe:</h1>
  <label for="phrase">Name:</label>
  <input type="text" id="phrase" name='name'>
  <label for="phrase">Ingredients:</label>
  <input type="text" id="phrase" name='ingredients'>
  <label for="phrase">Cook Time:</label>
  <input type="number" id="phrase" name='cook_time'>

  <input type="submit">
</form>
