<form action="/recipes" method="post">
  Recipe Name: <input id="name" type="text" name="name">
  Ingredients: <input id="ingredients" type="text" name="ingredients">
  Cook Time: <input id="cook_time" type="number" name="cook_time">
  <input id="Submit" type="submit">
</form>
