<h1>Create new recipes</h1>
<form action="/recipes" method="post">
  <input type="text" name="name"><br/><br/>
  <input type="text" name="ingredients"><br/><br/>
  <input type="number" name="cook_time"><br/><br/>
  <input type="submit">
</form>
