<p>New Recipe</p>

<form action="/recipes" method="post">
<p> Insert Recipe Name <input type="text" name="name"> </p>
<p> Insert Recipe ingredients <input type="text" name="ingredients"> </p>
<p> Insert Recipe Cook Time <input type="text" name="cook_time"> </p>
<input type="submit">
</form>
